*
  box-sizing border-box

body
  background #eee
  font-family Georgia, sans-serif
  font-weight 100
  color #555
  margin 0

.layout
  display flex
  justify-content space-between
  position absolute
  top 0
  left 0
  right 0
  bottom 0

h1
  font-weight 100
  text-transform lowercase
  margin 0 0 15px 15px
  opacity 0.03
  display none
  img
    height 30px

.feeds
  width 33.33333%
  overflow auto
  padding 5% 5% 50px 0
  position relative
  z-index 1
  font-family sans-serif

  a
    display block
    max-width 100%
    text-overflow ellipsis
    overflow hidden
    white-space nowrap
    text-decoration none
    color #111
    font-size 16px
    padding 0 15px
    line-height 36px
    transition 0.2s
    position relative

    b
      font-weight 100

    i
      display none

    &:hover
      background #ccddff

    &:visited
      font-weight 100
      color #999

    b:after
      content ' '

    i
      color #aaa
      font-style normal

.reader
  width 66.6666%
  overflow auto
  padding 5% 6%

  .content
    line-height 36px
    margin 0 auto
    max-width 40em
    font-size 18px

    p
      margin 0 0 24px 0
